<a class="button-personalization">Get Started</a>

{% stylesheet %}
    .button-personalization{
    background-color: #2563EB;
    color: #fff;
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 8px;
    max-width: 245px;
    width: 100%;
  }

  @media (max-width: 767px) {
    .button-personalization{
        font-size: 14px;
    }
}
{% endstylesheet %}