<section id="container">
  <div class="container-cards-beneficios">
    {% content_for 'blocks' %}
  </div>
</section>


{% stylesheet %}
  #container {
    display: flex;
    justify-content: center;
  }

  .container-cards-beneficios {
    max-width: 1220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width:1023px){
    .container-cards-beneficios{
      flex-direction: column;
    }  
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "uvps",
    "settings": [],
    "blocks": [
      {
        "type": "@theme"
      }
    ]
  }
{% endschema %}